body {
  background-attachment: fixed;
  background-color: #061018;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #131d2c;
  color: #ffffff;
}

nav {
  max-height: 500px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-heading {
  font-family: var(--ff-logo);
  text-transform: uppercase;
  margin-right: 100px;
  font-size: var(--fs-logo);
  color: #e45d31;
}

.nav-links a:hover {
  color: #ffffff;
  background-color: #21325e;
  padding: 20px;
}

.nav-links .selected {
  color: #ffffff;
  background-color: #2c2e43;
  padding: 20px;
}

nav a {
  text-decoration: none;
  padding: 0 40px;
  color: #e45d31;
  font-size: var(--fs-h1);
}

/* table{
      margin: auto;
      width: 700px;
      height: 200px;
    text-align: center;
    
  } */

.mainclasscontainer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  padding: 20px;
}
.dark-input,
.dark-textarea {
  border: 1px solid #a0a0a0;
  background-color: #101010;
  color: white;
  margin: 0.5rem 0;
  padding: 0.5rem 0.3rem;
  width: 95%;
}
.dark-textarea {
  width: calc(100% - 0.6rem);
}
.dark-button:hover {
  color: #ffffff;
  background-color: #21325e;
  cursor: pointer;
}

.dark-button {
  margin-right: 0.4rem;
  background-color: #2c2e43;
  padding: 0.5rem 2rem;
  color: #e45d31;
  border-radius: 0.4rem;
}
.leftsidecontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 300px;
}
.rightsidecontainer {
  padding: 50px;
}
